body { padding: 0; margin: 0; font-family: ''Times New Roman', Times, serif'; font-size:12pt; 
background: rgb(250, 250, 250); min-width: 1100px; }



h1 { padding-bottom: 10px; font-size: 16pt; color: #ededed; -webkit-margin-after: 0; -webkit-margin-before: 0; }
h2 { font-size: 14pt; color: #A52A2A; -webkit-margin-after: 0.1em; -webkit-margin-before: 0.1em; }
h3 { font-size: 18pt; font-family: 'Tahoma'; color: #333; }
h4 { font-size: 16pt; font-family: 'Tahoma'; color: #333; }
h5 { font-size: 14pt; font-family: 'Tahoma'; color: #333; }
h6 { font-size: 12pt; font-family: 'Tahoma'; color: #333; }

a { text-decoration: none; color: rgb(60, 65, 70); cursor: pointer; }
a:hover { text-decoration: underline; color: #A52A2A; }

form { margin-bottom: 0em; }

.form-mini { width: 450px; }

/*


input[type="text"] { font-size: 14pt; color: #A52A2A; background: none; border: solid 2px #A52A2A; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; } 
input[type="password"] { font-size: 14pt; color: #A52A2A; background: none; border: solid 2px #A52A2A; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; } 

input[type="button"] { cursor: pointer; font-size: 14pt; padding: 5px 10px; color: #A52A2A; background: none; border: solid 2px #A52A2A; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; } 
input[type="button"]:hover { background: #A52A2A; color: #fff; }

input[type="submit"] { cursor: pointer; font-size: 14pt; padding: 5px 10px; color: #A52A2A; background: none; border: solid 2px #A52A2A; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; } 
input[type="submit"]:hover { background: #A52A2A; color: #fff; }

*/

/* Button styles */


.btn-gray { padding: 5px 10px; margin: 5px; font-size: 14pt; color: #555; border: solid 1px #cdcdcd; background: none; border-radius: 3px; background-image: linear-gradient(rgb(245, 245, 245), rgb(215, 215, 215)); }

.btn-green { padding: 5px 10px; margin: 5px; font-size: 14pt; color: #fff; border: solid 1px rgb(0, 150, 0); background: none; border-radius: 3px; background-image: linear-gradient(rgb(0, 180, 0), rgb(0, 120, 0)); }

.btn-red { padding: 5px 10px; margin: 5px; font-size: 14pt; color: #fff; border: solid 1px rgb(190, 0, 0); background: none; border-radius: 3px; background-image: linear-gradient(rgb(220, 0, 0), rgb(160, 0, 0)); }


/* Button size */

.btn-size-small { font-size: 11pt; padding: 4px 6px; }
.btn-size-medium { font-size: 14pt; padding: 5px 10px; }
.btn-size-big { font-size: 18pt; padding: 8px 16px; }


/* Button longs */

.btn-long-small { width: 100px; }
.btn-long-medium { width: 200px; }
.btn-long-big { width: 275px; }

/* input */

.tbx { font-size: 13pt; padding: 5px 8px; border: solid 1px #adadad; color: #333; background-image: linear-gradient(rgb(248, 248, 248), rgb(241, 241, 241)); border-radius: 3px; }



.header { width: 100%; height: 50px; background: rgb(60, 65, 70 ); padding: 12px; box-sizing: border-box; }
.header h1 { float: left; }
.header a { color: #ededed; font-size: 16pt; float: right;  }
.header a:hover { text-decoration: underline; }


.col-small-select-item a { background-image: linear-gradient(to right, rgb(230, 230, 230), rgb(250, 250, 250)); }

.bot-shadow { box-shadow: 0px 8px 10px -9px #000000; }
.box-scrolling { height: calc(100% - 230px); max-height: calc(100% - 210px); overflow: auto; }


.col-small { width: 300px; height: calc(100% - 90px); box-sizing: border-box; padding: 0; float: left;  }

.col-big { width: calc(100% - 300px) ; height: calc(100% - 80px); max-height: calc(100% - 80px); height: auto; box-sizing: border-box; padding: 15px; left: 300px; float: right;  }
.col-big h1 { color: #A52A2A; }
.col-big h2 { color: #A52A2A; width: 100%; border-bottom: solid 2px #A52A2A; }

.col-small div h2 { padding: 10; }

.col-small ul { -webkit-margin-before: 0; -webkit-margin-after: 0; -webkit-margin-start: 0; -webkit-margin-end: 0; -webkit-padding-start: 0; }

.col-small ul li { display: block;  }

.col-small ul li a { display: block;  width: 100%; height: auto; padding: 10px; box-sizing: border-box; }
.col-small ul li a span { display: block; margin-top: -3px; padding: 3px 8px; color: #fff; float: right; background: #A52A2A; border-radius: 50px;}

.col-sub-small { width: 250px; height: 100%; border-right: solid 1px #ededed; float: left; position: absolute; position: relative; } 

.inputbox { padding: 7px 0; }
.inputbox input { float: right; }
.container { padding: 10px 0; }

.icontainer { padding: 10px 0; width: 500px; }
.icontainer input { float: right; }


.menuitem, .postitem { width: 100%; height: auto; padding: 15px; box-sizing: border-box; border-bottom: solid 1px rgb(180, 185, 190 ); }
.menuitem input { margin: -8px 0px; }
.menuitem-col, postitem-col { width: calc(50% - 90px); height: auto; box-sizing: border-box; padding: 0; float: left; font-size: 14pt; }
.menuitem-nav, .postitem-nav { width: 180px; height: auto; box-sizing: border-box; padding: 0; float: left; }
.postitem-nav { width: 90px; }

.sideitem { width: 100%; height: auto; padding: 15px; box-sizing: border-box; border-bottom: solid 1px rgb(180, 185, 190 ); }
.sideitem-col { width: calc(100% - 180px); height: auto; box-sizing: border-box; padding: 0; float: left; font-size: 14pt; }
.sideitem-nav { width: 180px; height: auto; box-sizing: border-box; padding: 0; float: left; }

.footer { font-size: 11pt; color: rgb(60, 65, 70 ); width: 100%; height: 30px; background: none; border-top: solid 1px rgb(60, 65, 70 ); padding: 8px; box-sizing: border-box; }